.img_error{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.button-return{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
    
h2 {
    font-size: 12px;;
}

