<app-header></app-header>

<h1 class="menu-title">
    Popular on Outside the box
</h1>

<section class="menu">
        <div class="menu-pizza">
            <img src="assets/imagens/veg.png">
            <h3>Beets</h3>
            <p>Beets, Tomatoes, Cheese</p>
            <p> R$40,00</p>
            <app-carrinho [item]="{ name: 'Beets', price: 40 }"></app-carrinho>
        </div>

        <div class="menu-pizza">
            <img src="assets/imagens/hotdog.png">
            <h3>HotDog</h3>
            <p>Sausage, Cheese, Smashed Potato</p>
            <p> R$40,00</p>
            <app-carrinho [item]="{ name: 'HotDog', price: 40 }"></app-carrinho>
        </div>

        <div class="menu-pizza">
            <img src="assets/imagens/feijao.png">
            <h3>Brazilian</h3>
            <p>Rice, Beans, Pepperoni</p>
            <p> R$40,00</p>
            <app-carrinho [item]="{ name: 'Brazilian', price: 40 }"></app-carrinho>
        </div>

        <div class="menu-pizza">
            <img src="assets/imagens/torresmo.png">
            <h3>Crackling Pizza</h3>
            <p>Crackling, Cheese, Lemon, Sauce</p>
            <p> R$40,00</p>
            <app-carrinho [item]="{ name: 'Crackling Pizza', price: 40 }"></app-carrinho>
        </div>

</section>



<h1 class="menu-title">
   Traditionals
</h1>

    <section class="menu">
        <div class="menu-pizza">
            <img src="assets/imagens/margherita.png">
            <h3>Margherita</h3>
            <p>Cheese, Tomatoes, Manjericao</p>
            <p> R$40,00</p>
            <app-carrinho [item]="{ name: 'Margherita', price: 40 }"></app-carrinho>
        </div>

        <div class="menu-pizza">
            <img src="assets/imagens/pepe.png">
            <h3>Pepperoni</h3>
            <p>Pepperoni, Cheese, Tomatoes</p>
            <p> R$40,00</p>
            <app-carrinho [item]="{ name: 'Pepperoni', price: 40 }"></app-carrinho>
        </div>

        <div class="menu-pizza">
            <img src="assets/imagens/any.png">
            <h3>Tuna</h3>
            <p>Tuna, Onion, Cheese</p>
            <p> R$40,00</p>
            <app-carrinho [item]="{ name: 'Tuna', price: 40 }"></app-carrinho>
        </div>

        <div class="menu-pizza">
            <img src="assets/imagens/mushroom.png">
            <h3>Shrooms (veggie)</h3>
            <p>Mushrooms, Bell Peppers, Olives</p>
            <p> R$40,00</p>
            <app-carrinho [item]="{ name: 'Shrooms', price: 40 }"></app-carrinho>
        </div>
       

</section>

<h1 class="menu-title">
    Sweet
 </h1>
 
     <section class="menu">
         <div class="menu-pizza">
             <img src="assets/imagens/marshmellow.png">
             <h3>Marshmallow</h3>
             <p>Marshmallow,Chocolate m&m</p>
             <p> R$40,00</p>
             <app-carrinho [item]="{ name: 'Marshmallow', price: 40 }"></app-carrinho>
         </div>
 
         <div class="menu-pizza">
             <img src="assets/imagens/popcorn.png">
             <h3>Sweet Popcorn</h3>
             <p>Popcorn, Caramel</p>
             <p> R$40,00</p>
             <app-carrinho [item]="{ name: 'Sweet Popcorn', price: 40 }"></app-carrinho>
         </div>

         
     </section>  

<app-footer></app-footer>
