.container {
  display: grid;
  align-items: stretch;
  margin-top: 5%;
}

.banner, .content__item1, .content__item2 {
  position: relative;
  z-index: 1;
}

.banner {
  align-items: center;
  background-color: rgb(209, 209, 209);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.banner .gif_pizza {
  position: relative;
  width: 15%;
  animation: moveRight 15s linear infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(-375%);
  }
  100% {
    transform: translateX(375%);
  }
}

.banner h1 {
  position: absolute;
  font-family: 'PanPizza';
  font-size: 500%;
}
//  FIM DO MONSTRO

.content__item1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  align-items: center;
  background-color: rgba(226, 151, 38, 0.884);
}

.content__item1 img{
  width: 30%;
}

.content__item1 h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 2%;
}

.content__item2{
  background-color: rgb(209, 209, 209);
}

.image {
  flex: 1;
}

.title_specials {
 text-align: center;

}

.content__item2__img{
  display: flex;
  orientation: row;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content__item2__img img {
  width: 80%;
  height: 80%;
}

.content__item2__img h3 {
  font-size: 150%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
}