.custom-carrinho {
    width: 17%;
    height: 12%;
    padding: 2% 4%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin: 0;  
    background: none;
  }

  .custom-carrinho img{
    width: 100%;
    margin: 0;  
  }
  
  .custom-carrinho:hover{
  
    background-color: #a6e2b3e8;
    transform: scale(1.1); 
    transition: 0.5s; 
  }
    