.content {
    background-color: rgb(248, 228, 191);
    height: 85vh;
    right: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 35px;
    font-family: 'PanPizza';
}

.botao_lixeira {
    width: 15%;
    background: none;
    border: 0;
}

    .lixeira{
        width: 100%;
    }
